[submodule "uarch_bench"]
	path = uarch_bench
	url = https://gitlab.jsc.fz-juelich.de/nassyr1/fma_indep_bench
[submodule "gem5"]
	path = gem5
	url = https://github.com/linedot/gem5.git
[submodule "gem5-workbench/benchmarks/STREAM"]
	path = gem5-workbench/benchmarks/STREAM
	url = https://github.com/jeffhammond/STREAM
[submodule "gem5-workbench/benchmarks/tinymembench"]
	path = gem5-workbench/benchmarks/tinymembench
	url = https://github.com/ssvb/tinymembench
