[submodule "uarch_bench"]
	path = uarch_bench
	url = https://gitlab.jsc.fz-juelich.de/nassyr1/fma_indep_bench.git
[submodule "gem5"]
	path = gem5
	url = https://github.com/linedot/gem5.git
[submodule "gem5-workbench/benchmarks/STREAM"]
	path = gem5-workbench/benchmarks/STREAM
	url = https://github.com/jeffhammond/STREAM
[submodule "gem5-workbench/benchmarks/tinymembench"]
	path = gem5-workbench/benchmarks/tinymembench
	url = https://github.com/ssvb/tinymembench
[submodule "epi-gem5"]
	path = epi-gem5
	url = https://gitlab.jsc.fz-juelich.de/falquez1/epi-gem5.git
[submodule "gem5-workbench/benchmarks/NPB3.0-omp-C"]
	path = gem5-workbench/benchmarks/NPB3.0-omp-C
	url = https://github.com/benchmark-subsetting/NPB3.0-omp-C
[submodule "asmgen"]
	path = asmgen
	url = https://github.com/linedot/asmgen
[submodule "asmgen-gemm"]
	path = asmgen-gemm
	url = https://github.com/linedot/asmgen-gemm
